<section class="login-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-11">
        <div class="login-content p-4 p-md-5 shadow-sm rounded-4 bg-white">
          <div class="login-tittle-div mb-4 text-center">
            <h1 class="login-tittle">New Password</h1>
          </div>
           @if (errorMsg()) {
                    <div class="d-flex w-100 justify-content-center text-danger mb-4">
                      {{errorMsg()}}
                    </div>
            }
          <form [formGroup]="resetForm" (ngSubmit)="NewPassNow()">
            <!-- Email -->
            <div class="mb-3 position-relative">
              <label for="mail" class="form-label">Email Address</label>
              <input
               readonly
                formControlName="email"
                type="email"
                class="form-control bg-transparent name"
                id="mail"
                required
                [ngClass]="{
                    'is-invalid': resetForm.get('email')?.invalid && resetForm.get('email')?.touched,
                    'is-valid': resetForm.get('email')?.valid && resetForm.get('email')?.touched
                   }"
              />
              @if (resetForm.get('email')?.errors&& resetForm.get('email')?.touched) {
                    <div class="text-danger mt-1 small">
                          @if (resetForm.get('email')?.errors?.['required']) {
                               <span>Email is required.</span>
                                }
                          @if (resetForm.get('email')?.errors?.['email']) {
                                <span> Please enter valid email </span>
                                 }
                           
                    </div>
                 }
            </div>


            <!-- newPassword -->
            <div class="mb-4 position-relative">
              <label for="pass" class="form-label">New Password</label>
              <input
                formControlName="newPassword"
                type="password"
                class="form-control bg-transparent name"
                id="pass"
                required
                [ngClass]="{
                    'is-invalid': resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched,
                    'is-valid': resetForm.get('newPassword')?.valid && resetForm.get('newPassword')?.touched
                   }"
              />
              @if (resetForm.get('newPassword')?.errors&& resetForm.get('newPassword')?.touched) {
                    <div class="text-danger mt-1 small">
                          @if (resetForm.get('newPassword')?.errors?.['required']) {
                               <span>newPassword is required.</span>
                                }
                          @if (resetForm.get('newPassword')?.errors?.['pattern']) {
                          <span> New Password must start with a capital letter and contain 7–11 characters </span>
                                 }
                           
                    </div>
                 }
            </div>

            <!-- Buttons -->
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-end gap-3">
              <button [disabled]="resetForm.invalid || banSpinner()" class="Sign-btn rounded-3 px-5 py-2 fw-semibold">
                @if(banSpinner()== true){
                      <i class="fa fa-solid fa-spinner fa-spin"></i>
                    }@else{
                     New password
                    }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
