<section class="login-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-11">
        <div class="login-content p-4 p-md-5 shadow-sm rounded-4 bg-white">
          <div class="login-tittle-div mb-4 text-center">
          </div>
           @if (errorMsg()) {
                    <div class="d-flex w-100 justify-content-center text-danger mb-4">
                      {{errorMsg()}}
                    </div>
            }
          <form [formGroup]="forgetForm" (ngSubmit)="sendEmail()">
            <!-- Email -->
            <div class="mb-3 position-relative">
              <label for="mail" class="form-label">Email Address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control bg-transparent name"
                id="mail"
                required
                [ngClass]="{
                    'is-invalid': forgetForm.get('email')?.invalid && forgetForm.get('email')?.touched,
                    'is-valid': forgetForm.get('email')?.valid && forgetForm.get('email')?.touched
                   }"
              />
              @if (forgetForm.get('email')?.errors&& forgetForm.get('email')?.touched) {
                    <div class="text-danger mt-1 small">
                          @if (forgetForm.get('email')?.errors?.['required']) {
                               <span>Email is required.</span>
                                }
                          @if (forgetForm.get('email')?.errors?.['email']) {
                                <span> Please enter valid email </span>
                                 }
                           
                    </div>
                 }
            </div>

            

            <!-- Buttons -->
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-end gap-3">
              <button [disabled]="forgetForm.invalid || btnSpinnerForget()" class="Sign-btn rounded-3 px-5 py-2 fw-semibold">
                @if(btnSpinnerForget()== true){
                      <i class="fa fa-solid fa-spinner fa-spin"></i>
                    }@else{
                     Send Email
                    }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

@if (openCodePopup()) {
   <section class="verify-code-section ">
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-11">
        <div class="login-content p-4 p-md-5 shadow-sm rounded-4 bg-white">
           @if (errorMsgCode()) {
                    <div class="d-flex w-100 justify-content-center text-danger mb-4">
                      {{errorMsgCode()}}
                    </div>
            }
          <form [formGroup]="CodeForm" (ngSubmit)="sendCode()">
            <!-- Code -->
            <div class="mb-3 position-relative">
              <label for="code" class="form-label">Code </label>
              <input
                formControlName="resetCode"
                type="tel"
                class="form-control bg-transparent name"
                id="code"
                required
                [ngClass]="{
                    'is-invalid': CodeForm.get('resetCode')?.invalid && CodeForm.get('resetCode')?.touched,
                    'is-valid': CodeForm.get('resetCode')?.valid && CodeForm.get('resetCode')?.touched
                   }"
              />
              @if (CodeForm.get('resetCode')?.errors&& CodeForm.get('resetCode')?.touched) {
                    <div class="text-danger mt-1 small">
                          @if (CodeForm.get('resetCode')?.errors?.['required']) {
                               <span>Code is required.</span>
                                }
                          @if (CodeForm.get('resetCode')?.errors?.['minlength']) {
                                <span> Minimum 6 numbers required. </span>
                                 }
                           
                    </div>
                 }
            </div>

            

            <!-- Buttons -->
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-end gap-3">
              <button [disabled]="CodeForm.invalid || btnSpinnerForget()" class="Sign-btn rounded-3 px-5 py-2 fw-semibold">
                @if(btnSpinnerForget()== true){
                      <i class="fa fa-solid fa-spinner fa-spin"></i>
                    }@else{
                     Send Code
                    }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
}

