<nav>
  <div class="nav-bar">
    <div class="logo">
      <img src="freshcart-logo.svg" alt="logo">
    </div>

    <div class="toggle-btn" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="nav-links-div desktop-menu d-flex align-items-center w-100">
      <ul class="d-flex gap-3 nav-links fs-5">
        @if (isLogin ==true) {
        <li class="cursor-pointer" routerLink="home" routerLinkActive="active-link"><a>Home</a></li>
        <li class="cursor-pointer" routerLink="prouduct" routerLinkActive="active-link"><a>Products</a></li>
        <li class="cursor-pointer" routerLink="cart" routerLinkActive="active-link"><a>Cart</a></li>
        <li class="cursor-pointer"><a>Brand</a></li>
        <li class="cursor-pointer"><a>Categories</a></li>
        }
       
      </ul>

      <div class="auth-links ms-auto">
        <ul class="d-flex gap-3 nav-links-auth">
          @if (isLogin ==false) {
            <li class="cursor-pointer" routerLink="register" routerLinkActive="active-link"><a>Register</a><li>
            <li class="cursor-pointer" routerLink="login" routerLinkActive="active-link"><a>Login</a></li>
          }
          
          @if (isLogin ==true) {
          <li class="cursor-pointer shop-icon"><a routerLink="cart"> <i class="fa-solid fa-cart-shopping  fs-4"></i> </a> 
            <span class="number-item-span fw-bold">
                  {{cartCount()}}
           </span> </li>
          <li class="cursor-pointer heart-icon"><a routerLink="wishlist"> <i class="fa-solid fa-heart fs-4"></i> </a>
           <span class="number-item-wishlist fw-bold">
                  {{wishCount()}}
           </span>
          </li>
          <li class="cursor-pointer me-4"><a> <i class="fa-solid fa-circle-user fs-4"></i> </a></li>
          <li class="logout-container">
              <a (click)="logout()"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
              <span class="logout-text" >Logout</span>
          </li>
          }
           
        </ul>
      </div>
    </div>
  </div>

  <!-- المنيو في الموبايل -->
  <div class="mobile-menu" [class.active]="isMenuOpen">
    <div class="menu-content">
      <div class="menu-header">
        <img src="freshcart-logo.svg" alt="logo" class="menu-logo">
        <i class="fa-solid fa-xmark close-icon" (click)="toggleMenu()"></i>
      </div>

      <ul class="menu-links">
        @if (isLogin ==true) {
        <li routerLink="home" routerLinkActive="link-mobile-active" (click)="toggleMenu()">Home</li>
        <li routerLink="prouduct" routerLinkActive="link-mobile-active" (click)="toggleMenu()">products</li>
        <li routerLinkActive="link-mobile-active" routerLink="cart" (click)="toggleMenu()">Cart</li>
        <li routerLinkActive="link-mobile-active" (click)="toggleMenu()">Brand</li>
        <li routerLinkActive="link-mobile-active" (click)="toggleMenu()">Categories</li>
        }
        
      </ul>

      <div class="menu-auth">
        @if (isLogin ==false) {
          <a (click)="toggleMenu()" routerLink="register" routerLinkActive="active-link">Register</a>
          <a (click)="toggleMenu()" routerLink="login" routerLinkActive="active-link">Login</a>
        }@else {
         <div class="d-flex gap-3">
          <a (click)="toggleMenu()" routerLink="cart" class="shop-mobile"> 
             <i class="fa-solid fa-cart-shopping fs-4"></i>
          <span class="number-item-span fw-bold">
                  {{cartCount()}}
           </span>
          </a>
          <a (click)="toggleMenu()" routerLink="wishlist" class="rela-heart"> <i class="fa-solid fa-heart fs-4"></i> 
            <span class="number-item-wishlist fw-bold">
                  {{wishCount()}}
           </span>
          </a>
          <a> <i class="fa-solid fa-circle-user fs-4"></i> </a>
         </div>
          <a (click)="toggleMenu();logout()"><i class="fs-4 fa-solid fa-arrow-right-to-bracket phone-logout"></i></a>

        }
        
      </div>
    </div>
  </div>
</nav>
